 <!-- pokemon -->
      <div ng-controller="PokemonController">
        <div class="page-header">
          <pokemon-name></pokemon-name>
        </div>
        <div class="row">
          <div class="col-md-6">
            <pokemon-image></pokemon-image>
          </div>
          <!-- Tabs -->
          <div class="col-md-6" ng-controller="TabsController">
            <ul class="nav nav-tabs nav-justified">
              <li ng-class="{ active:tab === 1 }"><a href="javascript:;" ng-click="selectTab(1)">Pokédex</a></li>
              <li ng-class="{ active:tab === 2 }"><a href="javascript:;" ng-click="selectTab(2)">Stats</a></li>
              <li ng-class="{ active:tab === 3 }"><a href="javascript:;" ng-click="selectTab(3)">Evolution</a></li>
            </ul>
            <div class="tab-content">
              <!-- Pokedex -->
              <div class="tab-content_node" ng-class="{ active:isActive(1)}">
                <pokemon-data></pokemon-data>
              </div>
              <!-- Stats -->
              <div class="tab-content_node" ng-class="{ active:isActive(2) }">
                <pokemon-stats></pokemon-stats>
              </div>
              <!-- Evolution -->
              <div class="tab-content_node" ng-class="{ active:isActive(3) }">
                <pokemon-evolution></pokemon-evolution>
              </div>
            </div>
          </div>
          <!-- /tabs -->
        </div>
        <!-- comments -->
        <pokemon-comments></pokemon-comments>
        <!-- /comments -->
      </div>
      <!-- /pokemon -->